0charset "UFF-8";
article, aside, footer, header, banner, main, nav, section {
	display: block;
}
html, body, h1, h2, h3 ui, li, a, p, article, aside, footer, header, main, nav, section{
padding: 5;
margin: 0;
.banner {
background-color: = #000000;	
}
